global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend mysql_front
    bind *:3306
    default_backend galera_nodes

backend galera_nodes
    balance roundrobin
    option tcp-check
    default-server inter 2s fall 3 rise 2
    server db-node1 db-node1:3306 check
    server db-node2 db-node2:3306 check
    server db-node3 db-node3:3306 check
